@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-bhilal-dark text-white font-outfit antialiased selection:bg-bhilal-accent selection:text-black;
  margin: 0;
}

.glass {
  @apply bg-white/5 backdrop-blur-lg border border-white/10;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-bhilal-accent to-bhilal-accent-2;
}
